<div class="recipe-list-wrapper">
  <div class="row">
    <div class="col-md-12">
      <alert-message [alert]="alert"></alert-message>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item" 
          *ngFor="let recipe of recipes"
          [class.active]="recipe === selectedRecipe"
          (click)="onSelect(recipe)">
            {{recipe.dish | uppercase}}
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <app-recipe [recipe]='selectedRecipe'></app-recipe>
    </div>
  </div>
</div>


