<div class="jumbotron jumbo-top">
  <ng-container
    *ngIf="recipe; then hasRecipe; else noRecipe">
  </ng-container>
</div>

<ng-template #hasRecipe>
  <div>
    <h2>{{recipe.dish | uppercase}}</h2>
    <div>
      <ngb-rating [(rate)]="recipe.rate" [readonly]="readonly"></ngb-rating>
      <span>&nbsp;{{recipe.rate}} stars</span>
    </div>
    <div class="tags">
      <span *ngFor="let tag of recipe.tags">#{{tag}}</span>
    </div>
    <h3>Ingredients</h3>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ingredient}}
      </li>
    </ul>
    <h3>Steps</h3>
    <ol>
      <li *ngFor="let step of recipe.steps">
        {{step}}
      </li>
    </ol>
  </div>
</ng-template>

<ng-template #noRecipe>
  <div>
    <h2>Please select a recipe on the list to the left</h2>
  </div>
</ng-template>