<div class="about-wrapper">
  <div class="row">
    <div class="col-md-12">
      <h2>About</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span>
        This is a recipe book page made with the purpose of studying Angular.
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <span>The code for this application is available in <a href="https://github.com/EduardoCavichioli/recipe-book">Gitbub</a></span>
    </div>
  </div>
</div>